.profile-page {
    display: flex;
    flex-direction: column;
    background-color: #eceef2;
    height: 100vh;
    width: 90vw;
}

.profile-page .profile-wrapper {
    display: flex;
    flex-direction: row;
    margin: 30px;
}
