.page-header {
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.page-header .top-bar-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f6b33d;
    padding: 1.6rem 0;
    font-size: medium;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container .logo {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.page-header .top-bar-container .logo img {
    height: 40px;
}